# See FS_29_54_67_86 dir_structure.

# Python
__pycache__/
/venv/
/.tox/

# PyCharm
/.idea/

# Temporary dirs for Python tools:
/build/
/dist/

# Target environment config
# (no trailing slash `/` because it can be a symlink):
/conf

# Do not track files under drafts - they are shared across branch switching:
/drafts/

# Temporary files - generated or (not super-costly) recoverable.
/temp/

