# See FS_29_54_67_86 dir_structure.

# Python (recursively):
__pycache__/

# Temporary dirs for Python tools:
/.tox/
/build/
/dist/
/src/argrelay.egg-info/

# Typical Python `venv` location:
/venv/

# PyCharm
/.idea/

# Target environment config
# (no trailing slash `/` because it can be a symlink):
/conf

# Do not track files under drafts - they are shared across branch switching:
/drafts/

# Temporary files - generated or (not super-costly) recoverable.
/tmp/

# MCP config (environment-specific absolute path to venv):
/.mcp.json

# Temporary (until the repo is refactored into multi-module):
/src/local_auth/main/local_auth.egg-info/
