
# Python
__pycache__/
/venv/
/.tox/

/build/

# Python setuptools:
/dist/

# PyCharm
/.idea/

# Do not track files under drafts - they are shared across branch switching:
/drafts/

# Temporary files - generated or (not super-costly) recoverable.
/temp/

