
* {
    font-family: monospace;
    background-color: white;
}

.top_container {
    margin-top: 1em;
}

.info_label {
    color: grey;
}

.box_label {
    width: 100%;
    color: steelblue;
    text-align: left;
}

#project_title {
    font-size: x-large;
    color: black;
    text-align: right;
}

.project_tagline {
    text-align: right;
}

#argrelay_page {
    color: black;
    text-align: right;
}

.argrelay_link {
    text-decoration: none;
}

.external_link_img {
    height: 0.8em;
    width: auto;
}

#argrelay_version {
    color: black;
    text-align: right;
}

#argrelay_api_docs {
    color: black;
    text-align: right;
}

#argrelay_api_spec {
    color: black;
    text-align: right;
}

#server_start_time {
    color: black;
    text-align: right;
}

#project_git_commit_url {
    color: black;
    text-align: right;
}

#project_git_commit_time {
    color: black;
    text-align: right;
}

#project_git_conf_dir_url {
    color: black;
    text-align: right;
}

/***********************************************************************************************************************
Disable border for input elements
***********************************************************************************************************************/

select {
    border: 0;
    outline: 0;
}

select:focus {
    outline: none;
}

input {
    border: 0;
    outline: 0;
}

input:focus {
    outline: none;
}

/***********************************************************************************************************************
Input elements
***********************************************************************************************************************/

/* Define common props for `command_history` and `command_line_input` together: */
#command_history,
#command_line_input {
    border-style: solid;
    border-width: 1px;

    width: 100%;

    /*
    Limit size of the input element to the container:
    https://stackoverflow.com/a/21345170/441652
    */
    box-sizing: border-box;

    /* Remove down triangle: */
    appearance:none;
}

#command_history {
    border-color: lightskyblue;
    /* align `command_history` and `command_line_input` */
    padding: 1px 2px 1px 2px;
    color: grey;
}

#command_line_input {
    border-color: lightskyblue;
    color: black;
}

::placeholder {
    color: grey;
    text-align: right;
}

/***********************************************************************************************************************
Input states
***********************************************************************************************************************/

.io_state_client_synced_input {
    color: black !important;
}

.io_state_pending_request_input {
    color: green !important;
}

.io_state_pending_response_input {
    color: darkorange !important;
}

.io_state_request_failed_input {
    color: red !important;
}

/***********************************************************************************************************************
Output elements
***********************************************************************************************************************/

#suggestion_output,
#describe_output,
#invocation_output {
}

.output_box {
    min-height: 1px;
    border-style: none;
}

#invocation_output {
    color: teal;
    white-space: pre;
}

/***********************************************************************************************************************
Sub-line container
***********************************************************************************************************************/

.sub_line_container {
    display: flex;
}

/***********************************************************************************************************************
Base button
***********************************************************************************************************************/

.base_button {
    white-space: nowrap;
    width: fit-content;
    margin: 0 0 2px 0;
    padding: 2px;
    border-style: solid;
    border-color: lightskyblue;
    color: grey;
    cursor: pointer;
}

/***********************************************************************************************************************
Reset button
***********************************************************************************************************************/

.reset_button_container {
    margin-top: 0;
    display: flex;
    justify-content: right;
}

.reset_all_button {
    border-width: 1px 1px 1px 1px;
}

/***********************************************************************************************************************
Copy buttons
***********************************************************************************************************************/

.copy_buttons_container {
    margin-top: 0;
    display: flex;
    justify-content: right;
    flex-grow: 1;
}

.button_disabled {
    cursor: not-allowed;
}

.copy_command_button {
    border-width: 0 0 1px 1px;
}

.copy_link_button {
    border-width: 0 1px 1px 1px;
}

/***********************************************************************************************************************
Legend
***********************************************************************************************************************/

.legend_container {
    margin-top: 0;
    display: flex;
    justify-content: right;
}

.legend_caption {
    color: grey;
}

.input_legend {
    padding: 2px;
}

.output_legend {
    padding: 2px;
}

/***********************************************************************************************************************
Click-able arg
***********************************************************************************************************************/

.selectable_item {
    white-space: nowrap;
    width: fit-content;
    margin: 0 2px 2px 0;
    padding: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: lightskyblue;
    cursor: crosshair;
}

/***********************************************************************************************************************
Suggestion details
***********************************************************************************************************************/

#suggestion_output {
    display: flex;
    flex-wrap: wrap;
}

.suggested_item {
}

.input_part {
    color: black;
}

.incomplete_part {
    color: black;
    background-color: palegreen;
}

.unique_part {
    color: black;
    background-color: khaki;
}

.comment_part {
    color: grey;
}

/***********************************************************************************************************************
Search outline details
***********************************************************************************************************************/

.arg_list_container {
    margin-left: 2em;
}

.explicit_arg_value {
    color: purple;
}

.implicit_arg_value {
    color: darkgreen;
}

.unknown_arg_value {
    color: darkorange;
}

.remaining_values {
    display: inline-flex;
    flex-wrap: wrap;
}

.remaining_item {
    color: blue;
}

.no_data {
    color: grey;
}

/***********************************************************************************************************************
Pending spinner
***********************************************************************************************************************/

.indicators_container {
    margin-top: 0;
    display: flex;
    justify-content: left;
}

.spinner_paused {
    animation-play-state: paused;
}

.animated_spinner {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0;

    background-color: transparent;
    transform-origin: center;

    animation-name: spinner_rotate;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: steps(8, jump-start);
}

#outer_spinner {
    animation-duration: 2.0s;
    animation-direction: reverse;
}

#inner_spinner {
    animation-duration: 0.4s;
    animation-direction: normal;
}

@keyframes spinner_rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
