
# For `@/dst/release_env`, both client and server config
# should be symlinks to the examples
/argrelay_client.json
/argrelay_server.yaml
/argrelay_plugin.yaml
/check_env_plugin.conf.bash
/check_env_plugin.conf.yaml
